# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Raw and processed data
data/raw/
data/processed/*
!data/processed/historical_price_demand.parquet
!data/processed/live_snapshots.parquet

# Notebook checkpoints
.ipynb_checkpoints/

# VS Code workspace settings 
.vscode/

#csv files
*.csv

#git log
data/cron.log