# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Raw and processed data
data/raw/
data/processed/

# Notebook checkpoints
.ipynb_checkpoints/

# VS Code workspace settings 
.vscode/

#csv files
*.csv

#git log
data/cron.log